// ul {
//   margin: 0 0 20px;
//   list-style: none;

//   li {
//     padding: 10px;
//   }
// }

// lecture11
// #main {
//   width: 1000px;
//   margin: 0 auto;

//   section {
//     padding: 10px;

//     h1 {
//       font-size: 1.4rem;
//     }

//     p {
//       margin-bottom: 20px;
//     }

//     p.note {
//       color: #f00;
//     }

//     ul {
//       margin-bottom: 20px;
//     }

//     li {
//       margin-left: 20px;
//     }
//   }
// }

// lecture12
// ul {
//   li {
//     + li {
//       border-bottom: 1px solid #666;
//     }

//     ~ li {
//       color: #f00;
//     }

//     > li {
//       background: #ccc;
//     }
//   }
// }

// lecture13
// .btn {
//   display: block;
//   border-radius: 5px;
//   width: 80px;
//   height: 40px;

//   &.red {
//     background: #f00;
//   }

//   &.green {
//     background: rgba(16, 92, 3, 0.742);
//   }
// }

// aside {
//   width: 240px;

//   .menu {
//     margin-bottom: 20px;
//   }

//   // body要素にid="top"がついている場合、aside要素にスタイル指定
//   body#top & {
//     width: 300px;
//   }
// }

// a {
//   text-decoration: none;

//   &:hover {
//     text-decoration: underline;
//   }
// }

// .block {
//   width: 500px;

//   &__element {
//     margin-bottom: 20px;

//     &--modifier {
//       background: #f00;
//     }
//   }
// }

// lecture14
// div.border-box {
//   border: {
//     top: 2px solid #000;

//     bottom: {
//       width: 5px;
//       style: dotted;
//       color: #f00;
//     }

//     radius: 5px;
//   }
// }

// div.no-bottom-border1 {
//   border: {
//     top: 1px solid #666;
//     left: 1px solid #666;
//     right: 1px solid #666;
//   }
// }

// div.no-bottom-border2 {
//   border: 1px solid #666;
// }

// lecture15
// main {
//   width: 1024px;
//   margin: 0 auto;

//   @media screen and (max-width: 768px) {
//     width: 100%;
//     margin: 0;

//     @media screen and (max-width: 1024px) {
//       width: 800px;
//     }
//   }

//   h1 {
//     font-size: 1rem;

//     @media screen and (max-width: 768px) {
//       font-size: 1.2rem;
//     }
//   }
// }

// #header {
//   height: 100px;
//   border-bottom: 1px solid #000;
// }

// @media print {
//   #header {
//     display: none;
//   }
// }

// lecture16
.block {
  .element1 {
    width: 800px;
  }

  // 生成後のcssが↓になる
  // .element1 {
  //   width: 1000px;
  // }
  @at-root .element1 {
    width: 1000px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;

    // 生成後のcss
    // .block .item {
    //   margin-bottom: 30px;
    // }
    @at-root (without: media) {
      .item {
        margin-bottom: 30px;
      }
    }
  }
}
