@mixin shadow($value...) {
  text-shadow: $value;
}

.mainText {
  @include shadow(8px, 8px, 0 black, 10px -10px 0 black);
}

@mixin box($w: 300px, $pd: 20px, $mg: 40px, $clr: red) {
  width: $w;
  padding: $pd;
  margin: $mg;
  color: $clr;
}

$value: 200px, 40px;

.main {
  @include box($value...);
}
