/* 変数と演算 */

// lecture18
// 変数の定義
$pink: #bcafdc;

.border-box {
  border: 1px solid $pink;
}

.border-box {
  background: $pink;
}

// lecture19
$value: 30px;

section {
  // グローバルのvalueを参照する
  margin-bottom: $value;
  $value: 20px;

  // section内のvalueを参照する
  p {
    padding: $value;
  }
}

footer {
  // グローバルのvalueを参照する
  padding: $value;
  $value: 50px;
  // footer内のvalueを参照する
  margin: $value;
}
