/* 変数と演算 */

// lecture18
// 変数の定義
$pink: #bcafdc;

.border-box {
  border: 1px solid $pink;
}

.border-box {
  background: $pink;
}

// lecture19
$value: 30px;

section {
  // グローバルのvalueを参照する
  margin-bottom: $value;
  $value: 20px;

  // section内のvalueを参照する
  p {
    padding: $value;
  }
}

footer {
  // グローバルのvalueを参照する
  padding: $value;
  $value: 50px;
  // footer内のvalueを参照する
  margin: $value;
}

// lecture20
$calcWidth: 1000px;

.calc1 {
  width: $calcWidth + 8;
  content: "文字列の" + "接続";
}

.calc2 {
  width: 500px - 8;
}

.calc3 {
  width: 500px * 8;
}

.calc4 {
  // width: (500px / 8);
  // 変数使用時は()不要
  // ↓calc()の外で / 使用が非推奨
  // width: $calcWidth / 8;
}

.calc5 {
  width: 500px % 8;
}
