@use 'mixin' as *;

.main_area {
  section {
    margin-bottom: 30px;
    overflow: hidden;
    @include clearfix;
    clear: both;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
    }

    .thumb_img {
      margin: 0 20px 20px 0;
      float: left;
    }
  }
}
