$GNaviHeight: 60px;
$GNaviButtonWidth: 150px;
$AreaPadding: 20px;
$ContentsWidth: 1024px;
$SideAreaWidth: 300px;
$padding: (
  area: 10px,
  section: 20px,
);

$width: (
  contents: 1024px,
  sideArea: 300px,
);

$path: (
  img: '/img/',
);
