@charset "UTF-8";
/* 変数と演算 */
.border-box {
  border: 1px solid #bcafdc;
}

.border-box {
  background: #bcafdc;
}

section {
  margin-bottom: 30px;
}
section p {
  padding: 20px;
}

footer {
  padding: 30px;
  margin: 50px;
}