// ul {
//   margin: 0 0 20px;
//   list-style: none;

//   li {
//     padding: 10px;
//   }
// }

// lecture11
// #main {
//   width: 1000px;
//   margin: 0 auto;

//   section {
//     padding: 10px;

//     h1 {
//       font-size: 1.4rem;
//     }

//     p {
//       margin-bottom: 20px;
//     }

//     p.note {
//       color: #f00;
//     }

//     ul {
//       margin-bottom: 20px;
//     }

//     li {
//       margin-left: 20px;
//     }
//   }
// }

// lecture12
// ul {
//   li {
//     + li {
//       border-bottom: 1px solid #666;
//     }

//     ~ li {
//       color: #f00;
//     }

//     > li {
//       background: #ccc;
//     }
//   }
// }

// lecture13
.btn {
  display: block;
  border-radius: 5px;
  width: 80px;
  height: 40px;

  &.red {
    background: #f00;
  }

  &.green {
    background: rgba(16, 92, 3, 0.742);
  }
}

aside {
  width: 240px;

  .menu {
    margin-bottom: 20px;
  }

  // body要素にid="top"がついている場合、aside要素にスタイル指定
  body#top & {
    width: 300px;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.block {
  width: 500px;

  &__element {
    margin-bottom: 20px;

    &--modifier {
      background: #f00;
    }
  }
}
